.ces {
  background: #880909;
}


.diy {
  background: #545b5f;
}

fieldset {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 7px;
}

button {
  margin-right: 20px;
}