// .icon {
//   width: 50px;
//   height: 50px;
//   color: #8aabec;
//   font-size: 100px;
// }
.icon-item {
  // width: 40px;
  // height: 40px;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 6px;
  &:hover {
    background-color: #cfcdcd;
  }
}
