.icons {
  display: flex;
  margin-top: 20px;

  .icon-border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #aeaeae;

    .icon-item {
      width: 35px;
      height: 35px;

      &:hover {
        background-color: #cfcdcd;
        transform: scale(1.5);
        transition: all 0.3s;

      }
    }


  }
}

